<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head>
<th:block th:include="fragments/menu :: head" />
</head>

<body>
	<div class="container">

		<th:block th:include="fragments/menu :: menu" />
		
		<div class="jumbotron">
			<h1>Detalhes da Compra</h1>
			
			<p th:text="${'Valor da compra: '+ compra.valor + ' R$'}" />
			<p th:text="${'Quantidade de itens: ' + compra.QuantidadeProdutos}" />
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Valor</th>
					<th>Detalhes</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${compra.produtos}">
					<td class="text-capitalize" th:text="${{produto.nomeProduto}}" />
					<td th:text="${new java.text.DecimalFormat('R$#,##0.00;$-#,##0.00').format(produto.valor)}" />
					<td><a th:href="@{'/produtos/' + ${produto.id}}"
						class="btn btn-primary">Detalhes</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<th:block th:include="fragments/menu :: menuscripts" />
</body>
</html>