<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head>
<th:block th:include="fragments/menu :: head" />
</head>

<body>
	<div class="container">

		<th:block th:include="fragments/menu :: menu" />

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Valor</th>
					<th>Detalhes</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td class="text-capitalize" th:text="${{produto.nomeProduto}}" />
					<td th:text="${produto.valor} + ' R$'" />
					<td><a th:href="@{'/produtos/' + ${produto.id}}"
						class="btn btn-primary">Detalhes</a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/produtos/edit/' + ${produto.id}}"
						class="btn btn-primary">Editar</a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<form action="#" th:action="@{/produtos/deleta}" method="post">
							<input type="hidden" th:value="${produto.id}" name="id" /> <input
								type="submit" value="Deletar" class="btn btn-danger" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-lg btn-primary" th:href="@{/produtos/form}"
			role="button">Adicionar produto</a>
	</div>

	<th:block th:include="fragments/menu :: menuscripts" />
</body>
</html>