<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head>
<th:block th:include="fragments/menu :: head" />
</head>

<body>
	<div class="container">

		<th:block th:include="fragments/menu :: menu" />

		<div class="jumbotron">
			<h1>Detalhes do produto</h1>
			<p class="text-capitalize" th:text="${produto.nomeProduto}" />
			<p
				th:text="'Têm o valor de ' + ${new java.text.DecimalFormat('R$#,##0.00;$-#,##0.00').format(produto.valor)}" />
			<h2>Descrição</h2>
			<p th:text="${produto.descricao}" />
			<p sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:href="@{'/produtos/edit/' + ${produto.id}}"
					class="btn btn-primary">Editar</a>
			</p>
			<form sec:authorize="hasRole('ROLE_ADMIN')" action="#"
				th:action="@{/produtos/deleta}" method="post">
				<input type="hidden" th:value="${produto.id}" name="id" /> <input
					type="submit" value="Deletar produto" class="btn btn-danger" />
			</form>
			<br sec:authorize="hasRole('ROLE_ADMIN')" />
			<p>
				<a class="btn btn-lg btn-primary" th:href="@{/produtos}"
					role="button">Veja todos os produtos</a>
			</p>
		</div>

	</div>

	<th:block th:include="fragments/menu :: menuscripts" />
</body>
</html>