<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<th:block th:include="fragments/menu :: head" />
</head>

<body>
	<div class="container">

		<th:block th:include="fragments/menu :: menu" />

		<div class="jumbotron">
			<h1>Contato</h1>
			<p>Arthur Bernardi Jordão</p>
			<p>
				Quaisquer dúvidas envie um email para: <a
					href="mailto:arthurbernardijordao@gmail.com">arthurbernardijordao@gmail.com</a>.
			</p>

		</div>


	</div>
	<th:block th:include="fragments/menu :: menuscripts" />
</body>
</html>